* {
    margin:0px;
    padding:0px;
}

div {
    height: 50px;
    width: 50px;
    background-image: url(https://plus.unsplash.com/premium_photo-1700182582190-f44a4660cce5?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    position: fixed;
    right: 0px;
    top:25px;
}